@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #f6f6f6;

}


section{
    width: 100%;

}


h2{
    color: #23232e;
    font-size: 30px;
}



#formularioHabitacion{

    margin: 20px auto;
    padding: 50px;
    background: white;
    width: 80%;
    height: 100% ;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#formulario{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#cancelar, #reservar, #reset{
    width: 100%;
}


.contenedor-campos{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}



.contenedor-multiple{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.campo-radio{
    width: 100%;
    padding: 8px;

}

#id_fechainicio{
    width: 100%;
    padding: 8px;
}

#id_fechafinal{
    width: 100%;
    padding: 8px;
}



.etiqueta-label{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.campo-input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid #23232e;
}

.campo-input:focus {
    border: 2px solid #736EFE;
}

#contenedor-precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#obtenerPrecio{
    background: #584EFD;
    width: 300px;
    height: 60px;
    font-size: 18px;
    border-style: none;
    color: white;
}



#reservar{
    background: #00ff00;
    width: 100%;
    height: 60px;
    font-size: 30px;
    border-style: none;
    box-shadow: rgba(13, 44, 6, 0.4) 0px 0px 0px 2px, rgba(6, 44, 8, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-top: 20px;
}

#reset{
    background: orange;
    width: 100%;
    height: 60px;
    font-size: 30px;
    border-style: none;
    box-shadow: rgba(44, 19, 6, 0.4) 0px 0px 0px 2px, rgba(44, 29, 6, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-top: 20px;
}

#cancelar{
    background: crimson;
    width: 100%;
    height: 60px;
    font-size: 30px;
    border-style: none;
    box-shadow: rgba(44, 6, 19, 0.4) 0px 0px 0px 2px, rgba(44, 6, 15, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-top: 20px;
}



/*Ajustes barra desplazamiento*/

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #23232e;
}

body::-webkit-scrollbar-thumb {
    background-color: #584EFD;
}



